:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
}

